@import url(reset.css);


/*
*{color: rgb(11, 11, 226);}*/

/* div{color: brown;} */
/*ol{color: forestgreen;}*/

/*[class*="te"]{color: blueviolet;}*/

/*#section4{ color: aqua;}*/
div.text
{color: lime;}

.text.subtitle
{color: deeppink;}
.text,
.list { color: crimson;
}

.text p{color: darkmagenta;}

.text .subtitle
{color: rgb(255, 0, 30);}

/*.text * {color: chocolate;}*/
/*.text > p {color: green;}*/
.text + p {color: black;}
.items {color: rgb(38, 3, 52);
}
.footer {color: pink;
}
.search {color: hotpink;}
